html, body {
	height: 100%;
	width: 100%;
}

#view-menu-buttons {
	  width: 40%;
	  height: 2%;
		background-color: #ffffff;
		display: -webkit-flex; /* Safari */
		display: flex;
}

/* widgets */
#progress-bar {
	width: 100%;
	height: 2%;
	background-color: #00ADEF;
}

#rig-logo {
	width: auto;
	height: auto;
}

#rig-icon {
	width: 100%;
	padding: 10%;
}

#nlesc-logo {
	width: 50%;
	height: 100%;
}

#nlesc-icon {
	height: 90%;
	border: 2px solid white;
}

#search-box {
	width: 50%;
	height: 100%;
}

#workflow {
	width: 100%;
	height: 80%;
	background: repeating-linear-gradient(
		45deg,
		#FFFFFF,
		#FFFFFF 10px,
		#EEF6FF 10px,
		#EEF6FF 20px
	);
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
	overflow-y: scroll;
	/*overflow-x: scroll;*/
}

#data-table {
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	overflow-x: scroll;
}

#message-log {
	width: 100%;
}

#blocks {
	width: 100%;
	height: 20%;
}

.blocksbar {
	overflow-x: scroll;
	overflow-y: scroll;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
}

/* layout containers */
#mainx {
	padding-top: 25px;
	width: 100%;
	height: 98%;
	min-height: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
}

#main-body {
	width: 100%;
	height: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
}

#left-bar {
	width: 15%;
	height: 98%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
}

#main-bar {
	width: 85%;
	height: 98%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
}

#main-top {
	width: 100%;
	height: 80%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: space-between; /* Safari */
	flex-direction: space-between;
}

#main-left-bar {
	height: 100%;
	width: 90%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
}

#main-right-bar {
	width: 10%;
	height: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column-reverse; /* Safari */
	flex-direction: column-reverse;
}

#main-header {
	width: 100%;
	height: 10%;
	display: -webkit-flex; /* Safari */
	display: flex;
}

#main-inventory {
	padding-top: 25px;
	width: 100%;
	height: 98%;
	display: -webkit-flex; /* Safari */
	display: flex;
}

#left-bar-inventory {
	width: 15%;
	height: 98%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
}

#rig-logo-inventory {
	width: auto;
	height: auto;
}

#rig-icon-inventory {
	width: 100%;
	padding: 10%;
}

#main-bar-inventory {
	width: 85%;
	height: 98%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction: column;
}

#nlesc-logo-inventory {
	width: 50%;
	height: 100%;
}

#nlesc-icon-inventory {
	height: 90%;
	border: 2px solid white;
}

#data-table-inventory {
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	overflow-x: scroll;
}

.maintable-cell {
	max-width: 100%;
	white-space: nowrap;
}

.block {
	background-color: #CCEEFF;
	border: 1px #00ADEF dotted;
	padding: 10px;
	margin: 10px;
}

.workflow-block {
	background-color: #CCEEFF;
	border: 1px #00ADEF dotted;
	padding: 5px;
	margin: 5px;
}

.block-title {
	display: block;
	font-weight: bold;
}

.selected{
  background-color: red;
}

.table-hover .selected {
	background-color: #FF93A2 !important
}

.workflowbar {
	width: 100%;
}

.workflow-block {
	width: 95%;
}

.workflow-block-title {
	display: inline-block;
	margin: 5%;
}

.workflow-block > button {
	float: right;
}

.run-workflow {
	background-color: red;
	color: white;
	font-weight: bold;
	width: 100%;
}

.parameters {
	font-size: small;
	font-weight: normal;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #00aeef;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
	margin: 10px;
}

.btn:hover {
  background: #009afa;
  text-decoration: none;
}

.black {
	color: #000000;
}

.white {
	color: #ffffff;
}
