<!-- <div ng-click="view1controller.changeView('view2')"> Click to get data </div> -->
<div id="main-inventory">
  <div id="left-inventory">
    <div id="rig-logo-inventory"><img src="images/noun_95045_cc.png" id="rig-icon-inventory"/></div>
    <div id="add-to-inventory" class="btn btn:hover"> Add Data </div>
  </div>
  <div id="right-inventory">
    <div id="nlesc-logo-inventory"><img src="images/ESCIENCE_logo_C_nl_cyanblack.jpg" id="nlesc-icon-inventory"/></div>
    <div id="data-table-inventory"><rig-inventory-screen></rig-inventory-screen></div>
  </div>
</div>
