<!-- <p>This is the partial for view 2.</p> -->
<!-- <div ng-click="view2controller.changeView('view1')"> Some click </div> -->
<div id="main-wrangler">
  <div id="left-wrangler">
    <div id="rig-logo-wrangler"><img src="images/noun_95045_cc.png" id="rig-icon-wrangler"/></div>
    <div id="workflow-wrangler"><rig-workflow></rig-workflow></div>
  </div>
  <div id="right-wrangler">
    <div id="right-top-wrangler">
      <div id="right-top-left-wrangler">
        <div id="right-top-left-top-wrangler">
          <div id="nlesc-logo-wrangler">
            <img src="images/ESCIENCE_logo_C_nl_cyanblack.jpg" id="nlesc-icon-wrangler"/>
          </div>
          <div id="search-box-wrangler"></div>
        </div>
        <div id="data-table-wrangler"><rig-main-screen></rig-main-screen></div>
      </div>
      <div id="right-top-right-wrangler">
        <div id="message-log"></div>
      </div>
    </div>
    <div id="blocks-wrangler"><rig-blocks></rig-blocks></div>
  </div>
</div>
