<!-- <p>This is the partial for view 2.</p> -->
<!-- <div ng-click="view2controller.changeView('view1')"> Some click </div> -->
<div id="mainx">
  <div id="progress-bar"></div>
  <div id="main-body">
    <div id="left-bar">
      <div id="rig-logo"><img src="images/noun_95045_cc.png" id="rig-icon"/></div>
      <div id="workflow"><rig-workflow></rig-workflow></div>
    </div>
    <div id="main-bar">
      <div id="main-top">
        <div id="main-left-bar">
          <div id="main-header">
            <div id="nlesc-logo"><img src="images/ESCIENCE_logo_C_nl_cyanblack.jpg" id="nlesc-icon"/></div>
            <div id="search-box"></div>
          </div>
          <div id="data-table"><rig-main-screen></rig-main-screen></div>
        </div>
        <div id="main-right-bar">
          <div id="message-log"></div>
        </div>
      </div>
      <div id="blocks"><rig-blocks></rig-blocks></div>
    </div>
  </div>
</div>
